//Variables
$base-font: 'PT Sans', sans-serif;
//Mixins
@mixin base-font {
  font-family: $base-font;
}
//OOCSS
html {
  @include base-font;
  /* make sure it is at least as tall as the viewport */
  position: relative;
  body {
    height: 100%;
    background: url("../img/rr-bg.jpg") no-repeat top center fixed;
    position: relative;
    .container-fluid {
      max-width: 2000px;
      .top-nav {
        text-transform: uppercase;
        .login-area {
          height: 40px;
          a {
            padding-top: 5px;
          }
        }
      }
      .sidebar {
        min-height: 100%;
        text-transform: uppercase;
        width: 180px;
        position: fixed;
        z-index: 12;
        top: 67px;
        left: 4px;
        background: linear-gradient(to right, #000 30%,transparent);
        .nav-logo {
          width: 180px;
          height: 180px;
          background: url("../img/nav-logo.png") no-repeat center top;
        }
        ul {
          border-left: 1px solid #efc13a;
          li {
            border-bottom: 1px solid #696969;
            &.active {
              background: linear-gradient(to right, #696969 30%, transparent);
              &:before {
                content: '';
                display: block;
                float: left;
                margin: 4px 5px 0 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #efc13a;
              }
              a {
                color: #fff;
              }
            }
            a {
              @include base-font;
              color: #4e4e4e;
              font-size: 20px;
              &:hover {
                color: #a7141d;
              }
            }
          }
        }
      }
      .content-area {
        //EDGES
        .tr-edge {
          background: linear-gradient(to top left, #161616 50% , transparent 50%);
          /* Standard syntax (must be last) */
          height: 100px;
        }
        .tl-edge {
          background: linear-gradient(to top right, #161616 50% , transparent 50%);
          /* Standard syntax (must be last) */
          height: 100px;
        }
        .bl-edge {
          background: linear-gradient(to bottom right, #161616 50% , transparent 50%);
          /* Standard syntax (must be last) */
          height: 100px;
        }
        .br-edge {
          background: linear-gradient(to bottom left, #161616 50% , transparent 50%);
          /* Standard syntax (must be last) */
          height: 100px;
        }
        .top-area {
          background: #161616;
          .tight {
            padding: 0;
          }
        }
        .generic-header {
          text-transform: uppercase;
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 700;
          font-size: 60px;
          color: #c7c7c7;
          margin: 50px 0;
        }
        #home {
          min-height: 400px;
        }
        #news {
          background: #161616;
          min-height: 1200px;
          .main-video {
            max-width: 1080px;
            /* you have to have a size or this method doesn't work */
            max-height: 608px;
            margin-right: auto;
            margin-left: auto;
          }
          .news-menu {
            text-align: center;
            margin: 40px 0;
            li {
              display: inline;
              float: none;
              a {
                font-size: 26px;
                text-transform: uppercase;
                margin: 0 15px;
                color: #c7c7c7;
              }
            }
          }
          .grid-item {
            margin-bottom: 20px;
            min-height: 200px;
          }
        }
        .spacer {
          height: 400px;
          p {
            text-transform: uppercase;
            font-family: 'Open Sans Condensed', sans-serif;
            color: #fff;
            font-size: 28px;
          }
        }
        .vault-header {
          text-transform: uppercase;
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 700;
          font-size: 120px;
          color: #c7c7c7;
          margin: 40px 0;
        }
        .vault-videos {
          background: #161616;
          min-height: 500px;
        }
        .team-area {
          min-height: 700px;
          background: #161616;
          .container-fluid {
            padding: 20px 100px;
            .carousel-control {
              &.left,
              &.right {
                background: none;
              }
            }
            #team-roster {
              .team-roster-logo {
                height: 150px;
                border-bottom: 1px solid #fff;
                text-align: center;
                top: 0;
                position: relative;
                margin-bottom: 40px;
                li {
                  display: inline;
                  position: relative;
                  margin: 0 20px;
                  border: none;
                  background: none;
                  div {
                    display: inline;
                  }
                  &.active {
                    div {
                      &:before {
                        content: '';
                        display: inline;
                        position: absolute;
                        margin: 4px 5px 0 0;
                        border-right: 20px solid transparent;
                        border-bottom: 20px solid #fff;
                        border-left: 20px solid transparent;
                        bottom: -80px;
                        left: 40px;
                      }
                    }
                  }
                }
              }
              .right-content {
                color: #fff;
                h1 {
                  font-size: 24px;
                  text-transform: uppercase;
                }
                p {
                  text-align: justify;
                }
              }
            }
          }
        }
      }
    }
  }
}
